.weather-wrapper {
  width: 50%;
  margin: 5rem auto;
}

.weather-box {
  margin-right: 2rem;
}

.form-control {
  box-shadow: none !important;
  outline: none !important;
}

.weather-box img {
  width: 40px;
  margin-bottom: 1rem;
}

.weather-box p {
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}

.weather-info-data {
  display: flex;
}

.weather-error {
  border-radius: 10px;
  background-color: rgba(255, 123, 0, 0.712);
  margin-bottom: 1rem;
}
